<!doctype html>
<title>{% block title %}{% endblock %} - Chord Apps </title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1><a href="{{ url_for('display.index') }}">Chord Apps</a></h1>
    <ul>
        {% if g.user %}
        <li><span>Hi {{ g.user.username }}</span>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
        <li><a href="{{ url_for('auth.register') }}">Register</a>
        <li><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
    </ul>
</nav>
<section class="content">
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    
    {% block header1 %}{% endblock %}
    {% block content1 %}{% endblock %}
    
    {% block header2 %}{% endblock %}
    {% block content2 %}{% endblock %}
</section>

{% block content3 %}{% endblock %}
