{% extends 'base.html' %}

{% block header1 %}
    <header>
        <h1>{% block title %}Add new song{% endblock %}</h1>
        <a class="action" href="{{ url_for('display.index') }}"> Back </a>
    </header>
{% endblock %}

{% block content1 %}
    <form method="post">
        <label for="title">Name</label>
        <input name="name" id="name" value="{{ request.form['name'] }}" required>
        <br />

        <label for="url">URL</label>
        <input name="url" id="url" value="{{ request.form['url'] }}" required>
        <br />

        <label for="title">Key</label>
        <input name="key" id="key" value="{{ request.form['key'] }}" required>
        <br />

        <label for="title">Artist</label>
        <input name="artist" id="artist" value="{{ request.form['artist'] }}">
        <br />

        <input type="submit" value="Save">
    </form>
{% endblock %}
