{% extends 'base.html' %}

{% block header1 %}
    {% if not query %}
        <h1>Functions</h1>
    {% endif %}
{% endblock %}

{% block content1 %}
    {% if not query %}
        <header>
            <a class="action" href="{{ url_for('display.query') }}">Criteria Search</a>
        </header>
        <header>
            <a class="action" href="{{ url_for('display.artist') }}">Display all singers</a>
        </header>
    {% endif %}
{% endblock %}

{% block header2 %}
    <h1>
        {% block title %}
            {% if not query %}
                Songs
            {% else %}
                {% if chords %}
                    Query Results of "{{ query }}"
                {% else %}
                    No matched for "{{ query }}"
                {% endif %}
            {% endif %}
        {% endblock %}
    </h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('display.add_chords') }}">Add New Song</a>
    {% endif %}
{% endblock %}

{% block content2 %}
    <h3>
        {% if chords and query %}
            {{ chords|length }} songs matched
        {% endif %}
    </h3>
    {% for chord_row in chords | batch(3, None) %}
        <div class="grid-container">
            {% for chord in chord_row %}
                {% if chord %}
                    <article class="post">
                    <header>
                        <div>
                            <h1><a href="{{ chord.url }}" target="_blank"> {{ chord.name }} </a></h1>
                            {% if g.user %}
                            <a class="action" href="{{ url_for('display.update', name=chord.name) }}">Edit</a>
                            {% endif %}
                            {% if chord.artist %}
                                <div class="about">by {{ chord.artist }}</div>
                            {% endif %}
                            <div class="about">on key {{ chord.key }}</div>
                        </div>
                    </header>
                    </article>
                {% endif %}
            {% endfor %}
        </div>

        {% if not loop.last %}
        <hr>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block content3 %}
    {% if query %}
        <a class="action" href="{{ url_for('display.query') }}">Back</a>
    {% endif %}
{% endblock %}
