{% extends 'base.html' %}

{% block header1 %}
    <header>
        <h1>{% block title %} Query Search {% endblock %}</h1>
        <a class="action" href="{{ url_for('display.index') }}"> Back </a>
    </header>
{% endblock %}

{% block content1 %}
    <form method="post">
        <label for="title">by Song Name</label>
        <input name="name" id="name"
        value="{{ request.form['name'] }}">
        <br />

        <label for="title">by Artist</label>
        <input name="artist" id="artist"
        value="{{ request.form['artist'] }}">
        <p> * Should provide at least one of song name and artist</p>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
